/* SCSS RGB */
$bg-color: rgba(0, 1, 3, 1);
$bg-color-blood: rgba(59, 9, 14, 1);
$bg-gradient: linear-gradient(90deg, $bg-color 14%, $bg-color-blood 90%);
$accent-color: rgba(182, 184, 173, 1);
$cards-color: rgba(202, 203, 198, 1);
$cards-color-opacity: rgba(202, 203, 198, 0.5);
//
$radius: 22px;
//
