@import "vars";
//
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
//
body {
	height: 100vh;
	background: $bg-color;
	background: $bg-gradient;
}

.popUP_container {
	transition: all 150ms ease;
	background: rgba(41, 41, 41, 0.6);
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 60;
	display: flex;
	justify-content: center;
	align-items: center;

	.popUP_main {
		padding: 16px;
		// width: 800px;
		// height: 504px;
		display: flex;
		flex-direction: row;
		position: relative;
		border-radius: $radius;
		background: $cards-color-opacity;
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(2px);
		.left_side {
			.whoSelect {
				font-size: 32px;
				font-weight: bold;
			}
			font-family: "Amatic SC", sans-serif;
			.elector_btn_container {
				// display: flex;
				display: none;
				flex-direction: column;
				gap: 10px;
			}
			display: flex;
			flex-direction: column;
			gap: 50px;
			// margin-right: 20px;
			.cards__container {
				display: flex;
				gap: 30px;
				.img_popup_wrapper_pre {
					// font-family: "Amatic SC", sans-serif;
					// font-weight: 700;
					//
					transition: all 300ms ease;
					&:hover {
						scale: 105%;
						box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
					}
					&:active {
						scale: 99%;
					}
					position: relative;
					overflow: hidden;
					width: 200px;
					height: 310px;
					border-radius: $radius;
					margin-bottom: 20px;
					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
					&:hover {
						.description > .other {
							max-height: 500px;
						}
					}
					.description {
						backdrop-filter: blur(5px);
						padding: 16px;
						background: $cards-color-opacity;
						z-index: 20;
						position: absolute;
						bottom: 0px;
						//
						width: 100%;

						.player_title_pre {
							font-size: 46px;
						}
						.other {
							font-size: 24px;
							transition: all 300ms ease;
							max-height: 0;
							overflow: hidden;
							display: flex;
							flex-direction: column;
							gap: 10px;
							//
							.player_stats_main_pre {
								display: flex;
								gap: 10px;
							}
						}
					}
				}
				.active {
					scale: 105%;
					&:hover {
						box-shadow: 0px 5px 10px 2px rgb(255, 255, 255);
					}
					box-shadow: 0px 5px 10px 2px rgb(255, 255, 255);
					//
					.description > .other {
						max-height: 500px;
					}
				}
			}
			.class_selector_btn {
				font-family: "Amatic SC", sans-serif;
				transition-duration: 300ms;
				//
				&:disabled {
					background-color: gray;
					cursor: not-allowed;
					color: $accent-color;
				}
				padding: 20px 10px;
				align-items: center;
				background-color: #fff;
				border-radius: $radius;
				box-shadow: transparent 0 0 0 3px,
					rgba(18, 18, 18, 0.1) 0 6px 20px;
				box-sizing: border-box;
				color: #121212;
				font-size: 24px;
				cursor: pointer;
			}
		}
		.right_side {
			// display: flex;
			display: none;
			flex-direction: column;
			gap: 20px;

			.player_selector_name {
				font-family: Mulish;
				font-size: 30px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%;
				list-style-type: none;
			}

			.player_title_pre {
				font-family: Mulish;
				font-size: 30px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%;
				list-style-type: none;
			}
			.player_stats_main_pre {
				display: flex;
				flex-direction: row;
				gap: 20px;
				.player_hp_pre {
					font-family: Mulish;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: 150%;
					list-style-type: none;
				}

				.player_mp_pre {
					font-family: Mulish;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: 150%;
					list-style-type: none;
				}
			}
			.player_stats_pre {
				display: flex;
				flex-direction: row;
				gap: 20px;
				.player_p_def_pre {
					font-family: Mulish;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: 150%;
					list-style-type: none;
				}

				.player_m_def_pre {
					font-family: Mulish;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: 150%;
					list-style-type: none;
				}
			}
		}
	}
}

.popUP_Disable {
	display: none;
}

main {
	height: calc(100vh - 147px);
}

.container {
	width: 1400px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.header_main {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom-left-radius: $radius $radius;
	border-bottom-right-radius: $radius $radius;

	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	border: 1px solid rgba(255, 255, 255, 0.18);
	.logo_Wrapper {
		width: 50px;
		height: 50px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	nav {
		.navigation_nav {
			display: flex;
			flex-direction: row;
			gap: 20px;

			li {
				font-family: Mulish;
				font-size: 30px;
				font-style: normal;
				font-weight: 600;
				line-height: 150%;
				list-style-type: none;
			}
		}
	}

	.menu_wrapper {
		display: flex;
		flex-direction: row;
		gap: 10px;
		.menu_btn {
		}

		.img_wrapper {
			width: 20px;
			height: 20px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.main_container {
	height: 95%;
	padding-top: 20px;
	padding-bottom: 20px;
	.container {
		height: 100%;
		.main_wrapper {
			height: 100%;
			display: flex;
			flex-direction: row;
			gap: 10px;
			.left_side {
				box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 30px;
				border-radius: $radius;
				width: 400px;
				height: 100%;
				background-color: $cards-color;
				.player1_title {
					font-family: Mulish;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: 150%;
					list-style-type: none;
				}
				.player1_img_wrapper {
					img {
						width: 100%;
						height: 100%;
					}
				}
				.player1_stats {
					display: flex;
					flex-direction: row;
					gap: 20px;
					.player_hp {
						font-family: Mulish;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: 150%;
						list-style-type: none;
					}
					.player_mp {
						font-family: Mulish;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: 150%;
						list-style-type: none;
					}
				}
			}
			.middle_side {
				box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
				border-radius: $radius;
				width: 100%;
				height: auto;
				background-color: $cards-color;
				display: flex;
				flex-direction: row;

				.player_1_skills {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
					width: 50%;
				}
				.player_2_skills {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
				}
			}
			.right_side {
				box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
				border-radius: $radius;
				width: 400px;
				height: 100%;
				background-color: white;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 30px;
				border-radius: $radius;
				width: 400px;
				height: 100%;
				background-color: $cards-color;
				.player2_title {
					font-family: Mulish;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: 150%;
					list-style-type: none;
				}
				.player2_img_wrapper {
					img {
						width: 100%;
						height: 100%;
					}
				}
				.player2_stats {
					display: flex;
					flex-direction: row;
					gap: 20px;
					.player2_hp {
						font-family: Mulish;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: 150%;
						list-style-type: none;
					}
					.player2_mp {
						font-family: Mulish;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: 150%;
						list-style-type: none;
					}
				}
			}
		}
	}
}

footer {
	width: 100%;
	.footer_main {
		background-color: black;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: 10px;
		border-top-left-radius: 40px 40px;
		border-top-right-radius: 40px 40px;
		padding-left: 20px;
		padding-right: 20px;

		background: rgba(255, 255, 255, 0.75);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);

		border: 1px solid rgba(255, 255, 255, 0.18);
		.Img_wrapper {
			width: 50px;
			height: 50px;
			.footer_img {
				width: 100%;
				height: 100%;
			}
		}
		p {
		}
	}
}
